#get-quote-app .container {
  /* padding-right: 15px;
  padding-left: 15px; */
  position: static;
  /* margin-right: auto;
  margin-left: auto; */
  text-align: left;
  background: #f4f4f4;
  transform: none;
}
